.canvas{
    &_left,
    &_right {
        width:50%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position:relative;
        flex-direction: column;
        background-color: #fff;

        .config_left,
        .config_right{
            position:absolute;
            top:-10px;
            background-color: #fff;
            color:gray;
            padding:5px 5px;
        }       

        .config_left{
            left:-7px;
        }

        .config_right{
            right:-7px;
        }

        .config_left:hover,
        .config_right:hover{
            background-color: lightcyan ;
            color:blue;
            cursor: pointer;
        }

        .url_input,
        .text_input {
            width: 100%;
            padding: 12px 20px;
            margin-top: 15px;
            box-sizing: border-box;
        }

        .url_input {
            position: absolute;
            top:40%;
            width: 90%;
        }

        .inputContainer{
            width:90%;
        }
        .arrowContainer{
            width:10%;            
        }

        .arrow_button{
            border:none;
            background-color: #fff;
            cursor: pointer;
        }

        .arrow_button:hover{
           color: blue;
        }
       
    }

    &_img{
        width: 99%;
        height: 60%;
        object-fit: cover;
    }

    &_txt {
        font-family: 'Impact','Londrina Outline','Lato',sans-serif;
        font-size: 25px;
        width: 90%;
        padding:0 15px;
        position:absolute;
        display:flex;
        align-items: center;
        justify-content: center;
        color:#000;
        overflow: hidden;
    }

    &_txt__top {
        top: 15px;
        height: 18%;
    }

    &_txt__bottom {
        bottom:15px;
        height: 18%;
    }

    .edittxt{
        font-size: 12px;
    }

    .edit_icon,
    .edittxt{
        color:inherit;
    }

    @media screen and (max-width:900px) {           
        &_txt{
            font-size: 25px;
        }
    }
}